# MongoDB Atlas connection string
# mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/

# Database name
DB_NAME=newdrama

# Server port
PORT=5000
